/*
 * Brief: This is the CSS class for the Course View
 * Author: Chris Forehand
 * Date Started: 4/2014
 * Test Cases: 
 * Major Modifications: None
 * */

.course-record
{
	position: relative;
	height: auto;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
	padding-top: 10px; 
	text-align: center;
}

.fake-link
{
	color: blue;
	text-decoration: underline; 
	cursor: pointer; 
}; 