/*
 * Brief: This is the CSS class for the Home View
 * Author: Chris Forehand
 * Date Started: 4/2014
 * Test Cases: 
 * Major Modifications: None
 * */

#ctrlLogin
{
	position: relative; 
	width: 380px;
	height: 200px; 
	margin-left: auto;
	margin-right: auto;
}