/*
 * Brief: This is the CSS class for the Instructor Portal View
 * Author: Chris Forehand
 * Date Started: 4/2014
 * Test Cases: 
 * Major Modifications: None
 * */

button
{
	height: 49px;
	padding: 17px;
	width: 100%;
	display: block;
	margin-bottom: 10px;
	font-size: 17px; 
}

#button-container
{
	position: relative;
	height: auto; 
	width: 450px; 
	margin-right: auto;
	margin-left: auto; 
}